{
  "arrowParens": "always",
  "trailingComma": "es5",
  "bracketSpacing": false,
  "singleQuote": true,
  "semi": false,
  "quoteProps": "consistent",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "useTabs": true,
  "printWidth": 80
}